version: '3'

services:
  wikijs:
    image: ghcr.io/requarks/wiki:latest
    ports:
      - "8080:3000"
    depends_on:
      - db
    environment:
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: wikijs
      DB_PASS: pass123
      DB_NAME: wikijs

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: wikijs
      POSTGRES_USER: wikijs
      POSTGRES_PASSWORD: pass123
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
